Portal_Source_Code/ADMIN/App_WebReferences/BRIMSPortalWebService/BRInvestmentPortalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/HFCPortalService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/HFCPortalService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/HFCPortalService">
      <s:element name="QueryDefault">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StoredProcedure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcedureParameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryDefaultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryDefaultResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BRIMSData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StoredProcedure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcedureParameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BRIMSDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BRIMSDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUTAccountsWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUTAccountsWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUTAccountsWebResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcedureParameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientsAccount">
        <s:complexType />
      </s:element>
      <s:element name="GetClientsAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientsAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountNAV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcedureParameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountNAVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountNAVResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUTAccountStatement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcedureParameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUTAccountStatementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUTAccountStatementResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFundType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcedureParameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFundTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFundTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMainMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcedureParameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMainMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMainMenuResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyString">
        <s:complexType />
      </s:element>
      <s:element name="GetMyStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMyStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryDefaultSoapIn">
    <wsdl:part name="parameters" element="tns:QueryDefault" />
  </wsdl:message>
  <wsdl:message name="QueryDefaultSoapOut">
    <wsdl:part name="parameters" element="tns:QueryDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="BRIMSDataSoapIn">
    <wsdl:part name="parameters" element="tns:BRIMSData" />
  </wsdl:message>
  <wsdl:message name="BRIMSDataSoapOut">
    <wsdl:part name="parameters" element="tns:BRIMSDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetUTAccountsWebSoapIn">
    <wsdl:part name="parameters" element="tns:GetUTAccountsWeb" />
  </wsdl:message>
  <wsdl:message name="GetUTAccountsWebSoapOut">
    <wsdl:part name="parameters" element="tns:GetUTAccountsWebResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencyName" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientAccount" />
  </wsdl:message>
  <wsdl:message name="GetClientAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientsAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientsAccount" />
  </wsdl:message>
  <wsdl:message name="GetClientsAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientsAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountNAVSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountNAV" />
  </wsdl:message>
  <wsdl:message name="GetAccountNAVSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountNAVResponse" />
  </wsdl:message>
  <wsdl:message name="GetUTAccountStatementSoapIn">
    <wsdl:part name="parameters" element="tns:GetUTAccountStatement" />
  </wsdl:message>
  <wsdl:message name="GetUTAccountStatementSoapOut">
    <wsdl:part name="parameters" element="tns:GetUTAccountStatementResponse" />
  </wsdl:message>
  <wsdl:message name="GetFundTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFundType" />
  </wsdl:message>
  <wsdl:message name="GetFundTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFundTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetMainMenuSoapIn">
    <wsdl:part name="parameters" element="tns:GetMainMenu" />
  </wsdl:message>
  <wsdl:message name="GetMainMenuSoapOut">
    <wsdl:part name="parameters" element="tns:GetMainMenuResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyString" />
  </wsdl:message>
  <wsdl:message name="GetMyStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyStringResponse" />
  </wsdl:message>
  <wsdl:portType name="BRInvestmentPortalServiceSoap">
    <wsdl:operation name="QueryDefault">
      <wsdl:input message="tns:QueryDefaultSoapIn" />
      <wsdl:output message="tns:QueryDefaultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BRIMSData">
      <wsdl:input message="tns:BRIMSDataSoapIn" />
      <wsdl:output message="tns:BRIMSDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUTAccountsWeb">
      <wsdl:input message="tns:GetUTAccountsWebSoapIn" />
      <wsdl:output message="tns:GetUTAccountsWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyName">
      <wsdl:input message="tns:GetCurrencyNameSoapIn" />
      <wsdl:output message="tns:GetCurrencyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAccount">
      <wsdl:input message="tns:GetClientAccountSoapIn" />
      <wsdl:output message="tns:GetClientAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientsAccount">
      <wsdl:input message="tns:GetClientsAccountSoapIn" />
      <wsdl:output message="tns:GetClientsAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountNAV">
      <wsdl:input message="tns:GetAccountNAVSoapIn" />
      <wsdl:output message="tns:GetAccountNAVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUTAccountStatement">
      <wsdl:input message="tns:GetUTAccountStatementSoapIn" />
      <wsdl:output message="tns:GetUTAccountStatementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFundType">
      <wsdl:input message="tns:GetFundTypeSoapIn" />
      <wsdl:output message="tns:GetFundTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMainMenu">
      <wsdl:input message="tns:GetMainMenuSoapIn" />
      <wsdl:output message="tns:GetMainMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyString">
      <wsdl:input message="tns:GetMyStringSoapIn" />
      <wsdl:output message="tns:GetMyStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BRInvestmentPortalServiceSoap" type="tns:BRInvestmentPortalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryDefault">
      <soap:operation soapAction="http://localhost/HFCPortalService/QueryDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRIMSData">
      <soap:operation soapAction="http://localhost/HFCPortalService/BRIMSData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUTAccountsWeb">
      <soap:operation soapAction="http://localhost/HFCPortalService/GetUTAccountsWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyName">
      <soap:operation soapAction="http://localhost/HFCPortalService/GetCurrencyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAccount">
      <soap:operation soapAction="http://localhost/HFCPortalService/GetClientAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientsAccount">
      <soap:operation soapAction="http://localhost/HFCPortalService/GetClientsAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountNAV">
      <soap:operation soapAction="http://localhost/HFCPortalService/GetAccountNAV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUTAccountStatement">
      <soap:operation soapAction="http://localhost/HFCPortalService/GetUTAccountStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFundType">
      <soap:operation soapAction="http://localhost/HFCPortalService/GetFundType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainMenu">
      <soap:operation soapAction="http://localhost/HFCPortalService/GetMainMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyString">
      <soap:operation soapAction="http://localhost/HFCPortalService/GetMyString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BRInvestmentPortalServiceSoap12" type="tns:BRInvestmentPortalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryDefault">
      <soap12:operation soapAction="http://localhost/HFCPortalService/QueryDefault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRIMSData">
      <soap12:operation soapAction="http://localhost/HFCPortalService/BRIMSData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUTAccountsWeb">
      <soap12:operation soapAction="http://localhost/HFCPortalService/GetUTAccountsWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyName">
      <soap12:operation soapAction="http://localhost/HFCPortalService/GetCurrencyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAccount">
      <soap12:operation soapAction="http://localhost/HFCPortalService/GetClientAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientsAccount">
      <soap12:operation soapAction="http://localhost/HFCPortalService/GetClientsAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountNAV">
      <soap12:operation soapAction="http://localhost/HFCPortalService/GetAccountNAV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUTAccountStatement">
      <soap12:operation soapAction="http://localhost/HFCPortalService/GetUTAccountStatement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFundType">
      <soap12:operation soapAction="http://localhost/HFCPortalService/GetFundType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainMenu">
      <soap12:operation soapAction="http://localhost/HFCPortalService/GetMainMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyString">
      <soap12:operation soapAction="http://localhost/HFCPortalService/GetMyString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BRInvestmentPortalService">
    <wsdl:port name="BRInvestmentPortalServiceSoap" binding="tns:BRInvestmentPortalServiceSoap">
      <soap:address location="http://localhost/HFCPortalService/BRInvestmentPortalService.asmx" />
    </wsdl:port>
    <wsdl:port name="BRInvestmentPortalServiceSoap12" binding="tns:BRInvestmentPortalServiceSoap12">
      <soap12:address location="http://localhost/HFCPortalService/BRInvestmentPortalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>